<h1>Students</h1>
<%= render "search_form" %>
<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Date of Joining</th>
    <th>Major</th>
    <th>Email</th>
  </tr>
  <% @students.each do |student| %>
    <tr data-link= "<%= student_path(student)%>">
      <td><%= student.user.name %></td>

      <td><%= student.date_of_birth %></td>

      <td><%= student.date_of_joining %></td>

      <td><%= student.major.name unless student.major.nil? %></td>

      <td><%= student.user.email %></td>
    </tr>
  <% end %>
</table>
